.partners{
    height: 1370px;
    width: 100vw;
    background-color: black;
    background-repeat: no-repeat;
    background-position: bottom 30% right 0%;
    background-size: cover;
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.partners-title{
position: absolute;
width: 450px;
height: 55px;
left: 219px;
top: 10846px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 55px;
/* identical to box height */

text-transform: uppercase;

color: #FFFFFF;
}
.partners-block1{
    position: absolute;
    width: 1377.09px;
    height: 139.97px;
    left: 275px;
    top: 11015px;
}
.partners-block2{
    position: absolute;
    width: 1329.56px;
    height: 176.94px;
    left: 273px;
    top: 11199px;

}
.partners-block3{
    position: absolute;
    width: 1429.03px;
    height: 169.02px;
    left: 275px;
    top: 11420px;

    
}
.partners-block4{
    position: absolute;
    width: 1410.54px;
    height: 79.23px;
    left: 273px;
    top: 11666px;

    
}
.partners-block5{
    position: absolute;
    width: 1340.12px;
    height: 138.21px;
    left: 324px;
    top: 11854px;

}

@media(min-width: 1920px) {
}
@media(min-width: 1620px) and (max-width: 1919px) {
    .partners{
        height: 1370px;
        max-width: 1620px;
        background-color: black;
        background-repeat: no-repeat;
        background-position: bottom 30% right 0%;
        background-size: cover;
        overflow: hidden;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    .partners-title{
    position: absolute;
    width: 300px;
    height: 55px;
    left: 184px;
    top: 9999px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    /* identical to box height */
    
    text-transform: uppercase;
    
    color: #FFFFFF;
    
    }
    .partners-block1{
        position: absolute;
        width: 1377.09px;
        height: 139.97px;
        left: 184px;
        top: 10200px;
    }
    .partners-block2{
        position: absolute;
        width: 1329.56px;
        height: 176.94px;
        left: 184px;
        top: 10380px;
    }
    .partners-block3{
        position: absolute;
        width: 1429.03px;
        height: 169.02px;
        left: 184px;
        top: 10590px;     
    }
    .partners-block4{
        position: absolute;
        width: 1410.54px;
        height: 79.23px;
        left: 184px;
        top: 10810px;       
    }
    .partners-block5{
        position: absolute;
        width: 1340.12px;
        height: 138.21px;
        left: 230px;
        top: 10990px;
    }
    .partners-block1 img{
        width: 92%;
        height: 92%;
    }
    .partners-block2 img{
        width: 92%;
        height: 92%;
    }
    .partners-block3 img{
        width: 92%;
        height: 92%;
    }
    .partners-block4 img{
        width: 92%;
        height: 92%; 
    }
    .partners-block5 img{
        width: 92%;
        height: 92%;
    }
}
@media(min-width: 1199px) and (max-width: 1619px) {
    .partners{
        height: 675px;
        max-width: 1200px;
        background-color: black;
        background-repeat: no-repeat;
        background-position: bottom 30% right 0%;
        background-size: cover;
        overflow: hidden;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    .partners-title{
    position: absolute;
    width: 300px;
    height: 55px;
    left: 184px;
    top: 6899px;
    font-size: 26px;
    line-height: 32px;
    color: #FFFFFF;
    
    }
    .partners-block1{   
        position: absolute;
        width: 1377.09px;
        height: 139.97px;
        left: 184px;
        top: 7000px;
    }
    .partners-block2{   
        position: absolute;
        width: 1329.56px;
        height: 176.94px;
        left: 184px;
        top: 7110px;
    }
    .partners-block3{
        position: absolute;
        width: 1429.03px;
        height: 169.02px;
        left: 184px;
        top: 7240px;     
    }
    .partners-block4{
        position: absolute;
        width: 1410.54px;
        height: 79.23px;
        left: 184px;
        top: 7370px;       
    }
    .partners-block5{
        position: absolute;
        width: 1340.12px;
        height: 138.21px;
        left: 220px;
        top: 7480px;
    }
    .partners-block1 img{
        width: 60%;
        height: 60%;
    }
    .partners-block2 img{
        width: 60%;
        height: 60%;
    }
    .partners-block3 img{
        width: 60%;
        height: 60%;
    }
    .partners-block4 img{
        width: 60%;
        height: 60%;
    }
    .partners-block5 img{
        width: 60%;
        height: 60%;
    }
}
@media(min-width: 767px) and (max-width: 1199px) {
    .partners{
        height: 675px;
        width: 100vw;
        background-color: black;
        background-repeat: no-repeat;
        background-position: bottom 30% right 0%;
        background-size: cover;
        overflow: hidden;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    .partners-title{
    position: absolute;
    width: 300px;
    height: 55px;
    left: 37px;
    top: 6419px;
    font-size: 26px;
    line-height: 32px;
    color: #FFFFFF;
    
    }
    .partners-block1{
        position: absolute;
        width: 1377.09px;
        height: 139.97px;
        left: 33px;
        top: 6480px;
    }
    .partners-block2{
        position: absolute;
        width: 1329.56px;
        height: 176.94px;
        left: 34px;
        top: 6580px;
    }
    .partners-block3{
        position: absolute;
        width: 1429.03px;
        height: 169.02px;
        left: 34px;
        top: 6690px;     
    }
    .partners-block4{
        position: absolute;
        width: 1410.54px;
        height: 79.23px;
        left: 34px;
        top: 6800px;       
    }
    .partners-block5{
        position: absolute;
        width: 1340.12px;
        height: 138.21px;
        left: 60px;
        top: 6880px;
    }
    .partners-block1 img{
        width: 50%;
        height: 50%;
    }
    .partners-block2 img{
        width: 50%;
        height: 50%;
    }
    .partners-block3 img{
        width: 50%;
        height: 50%;
    }
    .partners-block4 img{
        width: 50%;
        height: 50%;
    }
    .partners-block5 img{
        width: 50%;
        height: 50%;
    }
}
@media(min-width: 375px) and (max-width: 767px) {
    .partners{
        height: 870px;
        width: 100vw;
        background-color: black;
        background-repeat: no-repeat;
        background-position: bottom 30% right 0%;
        background-size: cover;
        overflow: hidden;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }
    .partners-title{
    position: absolute;
    width: 300px;
    height: 55px;
    left: 37px;
    top: 7100px;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    
    }
    .partners-block1{
        position: absolute;
        width: 1377.09px;
        height: 139.97px;
        left: 33px;
        top: 7140px;
    }
    .partners-block2{
        position: absolute;
        width: 1329.56px;
        height: 176.94px;
        left: 34px;
        top: 7180px;
    }
    .partners-block3{
        position: absolute;
        width: 1429.03px;
        height: 169.02px;
        left: 34px;
        top: 7230px;     
    }
    .partners-block4{
        position: absolute;
        width: 1410.54px;
        height: 79.23px;
        left: 34px;
        top: 7280px;       
    }
    .partners-block5{
        position: absolute;
        width: 1340.12px;
        height: 138.21px;
        left: 45px;
        top: 7325px;
    }
    .partners-block1 img{
        width: 22%;
        height: 22%;
    }
    .partners-block2 img{
        width: 22%;
        height: 22%;
    }
    .partners-block3 img{
        width: 22%;
        height: 22%;
    }
    .partners-block4 img{
        width: 22%;
        height: 22%;
    }
    .partners-block5 img{
        width: 22%;
        height: 22%;
    }
}
