body {
    background-color: #0F0F0F;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.background-p3{
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background: url(../img/background-p3.png);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    display: flex;
}
@media (max-width:1440px) {
    .background-p3 {
       background-size: cover; 
    }
}
.left-block {
    width:33.33%;
    height: 100%; 
}
.title{
    width: 100%;
    height: 35%;
    padding-top: 25%;
    padding-left: 30%;
    margin-bottom: 0;
    padding-bottom: 0;
}
.h1 {
    font-size: 45px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}
.blu_green {
    background: linear-gradient(90deg, #45C2EA, #4FF44B);
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
}
.bottle-p3 {
    width: 33.33%;
    height: 100%;
    display: flex;
}
.bottle-p3 img {
    display: flex;
    margin: 0 auto;
    height: 100%;
    margin-top:25%;
    z-index: 100;
}
.balance {
    width: 100%;
    height: 75%;
    padding-left: 30%;
    padding-top: 10%;
}
.h4 {
    font-size: 22px;
    color: white;
}
.balance-title {
    text-transform: uppercase;
    margin-bottom: 23px;
}
.minerals p {
    margin-bottom: 15px;
    max-width: 370px;
}
.minerals p:last-child {
    margin-bottom: 0;
}
.right-block {
    height: 100%;
    width: 33.3%;
    display: flex;
    flex-direction: column;
    margin-top: 40vh;
}
.h3 {
    font-size: 28px;
    color: white;
    
}
.right-block .ph-title {
    text-transform: uppercase;
    margin-bottom: 20px;
    max-width: 260px;
}
.right-block .ph {
    margin-bottom: 0;
    max-width: 260px;
}