.gradient-p7{

    background: url(../img/noob4top.png);

}
.font-mavenPro {
    font-family: 'Maven Pro', sans-serif !important;
}
.color-white {
    color: white;
}
.background-p7{
    padding-right: 15px;
    padding-left: 15px;
    height: 100vh;
    width: 100vw;
    background: url(../img/bgp7.png);
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    display: flex;
    background-size: cover; 
 
}
.box-container_p7 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.p7-block1{  
    position: absolute;
    width: 490px;
    height: 638px;
    left: 975px;

    
}
.p7-h1, .p7-h2 {
    color: white;
}
.p7-h1{
    position: absolute;
    width: 696.22px;
    height: 220px;
    left: 219px;

    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}
form.p7-offer {
    position: relative;
}
.p7-offer input[type="text"], .p7-offer select, .p7-offer textarea{
    border-radius: 5px;
    border: none;
    width: 490px;
    height: 40px;
}
.p7-offer textarea {
    resize: none;
    height: 180px;
}
.checkOfer{
    color: white;
    display: block;
    position: relative;
    user-select: none;
    cursor: pointer;
}
.p7-offer .checkOfer > input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    
}
.p7-offer .checkOfer > .checkmark {
    position: absolute;
    border-radius: 5px;
    border: 2px solid white;
    background-color: black;
}
.checkOfer:hover input ~ .checkmark {
    background-color: black;
}
.checkOfer input:checked ~ .checkmark {
    background-color: black;
}
.checkOfer >.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.checkOfer input:checked ~ .checkmark:after {
    display: block;
}
.checkOfer .checkmark:after {
    left: 7px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.p7-offer .submitOffer {
    text-transform: uppercase;
    color: white;
    border: 2px solid white;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s linear;
}
.p7-offer .submitOffer:hover {
    box-shadow: 0px 4px 10px -5px rgb(214, 247, 245);
    border: none;
    color: black;
    background: linear-gradient(310.94deg, #64D5CF 7.35%,#FFFFFF);
    transition: 0.2s linear;
    
}
.themeMailFormOfer p { margin: 0;}
.themeMailFormOfer {
    margin: 5px 0;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.themeMailFormOfer .themeSelectOptions{
    position: absolute;
    background-color: white;
    top: 30px;
    left: 0;
    right: 0;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    z-index: 2000;
}
.themeMailFormOfer .p7-height80px{
    height:120px;
}
.themeMailFormOfer .p7-height0px{
    height:0px
}
.themeMailFormOfer .themeSelectOptions .themeOptionValue{
    margin: 10px 0;
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    padding: 0 10px;
    cursor: pointer;
}
.themeMailFormOfer .themeSelectOptions .themeOptionValue:hover{
    font-weight: bold;    
}

@media(min-width: 1620px) and (max-width: 1919px) {
    .background-p7 {
        padding-left: 8vw;
        padding-right: 8vw;
    }
    .box-container_p7 {
        align-items: center;
    }
    .p7-h1 {
        position: absolute;
        width: 700px;
        height: 220px;
        left: 219px;
        top: 180px;
   
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 38px;
        line-height: 46px;
        text-transform: uppercase;
        
        color: #FFFFFF;
    }
    .p7-h2 {
        font-family: Maven Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        
        color: #FFFFFF;
    }
    .p7-h1 {
        margin-bottom: 30px;
    }
    .p7-h2 {
        margin-bottom: 14px;
    }
    .p7-offer input[type="text"], .p7-offer select, .p7-offer textarea {
        margin: 6px 0;
        padding: 12px;
        font-size: 16px;
    }
    .p7-offer select { height: 40px; }
    .p7-offer textarea { min-height: 130px; }
    .labelSubmit {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .p7-offer label {
        font-size: 16px;
    }
    .checkOfer {
        margin-top: 0;
        margin-bottom: 0;
        max-width: 230px;     
        margin-top: 20px;   
    }
    #nameMailFormOfer{
        height: 60px;
        margin-top: 25.67px;  


    }
    #phoneMailFormOfer{
        height: 60px;
        margin-top: 20px; 

   }
   #emailMailFormOfer{
    height: 60px;
    margin-top: 20px; 
   }
    .themeMailFormOfer{
        margin: 8px 0;
        height: 60px;
        font-size: 16px;
        padding: 0 10px; 
        margin-top: 20px;
        margin-bottom: 10;
    }
    .textarea{
        height: 180px;
    }
    .box_img {
        margin-left: 13%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .p7-block3 {
        display: flex;
        align-items: center;
    }
    .p7-block3 img {
        width: 35vw;
    }
    .p7-offer .submitOffer {
        width: 220px;
        height: 50px;
        border-radius: 25px;
    }
    .p7-block1{
        position: absolute;
        height: 638px;
        left: 900px;
        top: 60px;
    }
    
}

@media(min-width: 1199px) and (max-width: 1619px) {
    .background-p7 {
        padding-left: 8vw;
        padding-right: 8vw;
    }
    .box-container_p7 {
        align-items: center;
    }
    .p7-h1 {
        position: absolute;
        width: 700px;
        height: 220px;
        left: 140px;
        top: 115px;
   
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
        text-transform: uppercase;
        
        color: #FFFFFF;
    }
    .p7-h2 {
        font-family: Maven Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        
        color: #FFFFFF;
    }
    .p7-h1 {
        margin-bottom: 30px;
    }
    .p7-h2 {
        width: 253px;
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 14px;
    }
    .p7-offer input[type="text"], .p7-offer select, .p7-offer textarea {
        margin: 6px 0;
        padding: 12px;
        font-size: 16px;
    }
    .p7-offer select { height: 40px; }
    .p7-offer textarea { min-height: 130px; }
    .labelSubmit {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .p7-offer label {
        font-size: 16px;
    }
    .checkOfer {
        margin-top: 0;
        margin-bottom: 0;
        max-width: 230px;     
        margin-top: 20px;   
    }
    #nameMailFormOfer{        width: 370px;
        height: 38px;
        margin-top: 19px;  


    }
    #phoneMailFormOfer{        width: 370px;
        height: 38px;
        margin-top: 12px; 

   }
   #emailMailFormOfer{        width: 370px;
    height: 38px;
    margin-top: 12px; 
   }
   #msgMailFormOfer{
    width: 370px;
    height: 112.53px;
   }
    .themeMailFormOfer{
        margin: 8px 0;
        height: 37.51px;
        font-size: 16px;
        padding: 0 10px; 
        margin-top: 12.47px;
        margin-bottom: 10;
    }
    .textarea{
        height: 112.53px;
    }
    .box_img {
        margin-left: 13%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .p7-block3 {
        display: flex;
        align-items: center;
    }
    .p7-block3 img {
        width: 35vw;
    }
    .p7-offer .submitOffer {
        width: 220px;
        height: 50px;
        border-radius: 25px;
    }
    .p7-block1{
        position: absolute;
        width: 370px;
        height: 437px;
        left: 600px;
        top: 60px;
    }
    .labelSubmit{
        position: absolute;
        width: 370px;
        height: 112.53px;

        top: 320.49px;   
    }
}
@media(min-width: 767px) and (max-width: 1199px) {
    .background-p7 {
        width: 768px;
        height: 550px;

        
        background-repeat: no-repeat;
        background-position: center;
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        background-size: cover;
        background-color: black;
    }
    .box-container_p7 {
        align-items: center;
    }
    .p7-h1 {
        position: absolute;
        width: 700px;
        height: 220px;
        left: 30px;
        top: 150px;
   
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 27px;
        text-transform: uppercase;
        
        color: #FFFFFF;
    }
    .p7-h2 {
        font-family: Maven Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
        
        color: #FFFFFF;
    }
    .p7-h1 {
        margin-bottom: 30px;
    }
    .p7-h2 {
        width: 253px;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 14px;
    }
    .p7-offer input[type="text"], .p7-offer select, .p7-offer textarea {
        margin: 6px 0;
        padding: 12px;
        font-size: 16px;
    }
    .p7-offer select { height: 40px; }
    .p7-offer textarea { min-height: 130px; }
    .labelSubmit {
        margin-top: 30px;
    }
    .p7-offer label {
        font-size: 16px;
    }
    .checkOfer {
        margin-top: 0;
        margin-bottom: 0;
        max-width: 230px;     
        margin-top: 0px;   
    }
    #nameMailFormOfer{        width: 307px;
        height: 35.09px;
        margin-top: 5px;  


    }
    #phoneMailFormOfer{        width: 307px;
        height: 35.09px;
        margin-top: 5px; 

   }
   #emailMailFormOfer{        width: 307px;
    height: 35.09px;
    margin-top: 5px; 
   }
   #msgMailFormOfer{
    width: 307px;
    height: 35.09px;
   }
    .themeMailFormOfer{
        margin: 1px 0;
        height: 37.51px;
        font-size: 16px;
        padding: 0 10px; 
        margin-top: 5px;
    }
    .textarea{
        height: 112.53px;
    }
    .box_img {
        margin-left: 13%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .p7-block3 {
        display: flex;
        align-items: center;
    }
    .p7-block3 img {
        width: 35vw;
    }
    .p7-offer .submitOffer {
        width: 220px;
        height: 50px;
        border-radius: 25px;
    }
    .p7-block1{
        position: absolute;
        width: 307px;
        height: 35.09px;

        left: 420px;
        top: 10px;
    }
    .labelSubmit{
        position: absolute;
        width: 370px;
        height: 112.53px;

        top: 320.49px;   
    }
    .sendMailFormOfer{
        position: absolute;
        top: 1000px;
    }
    #screenID7{
        max-height: 630px;
        background-color: black;
    }
}
@media(min-width: 375px) and (max-width: 767px) {
    .background-p7 {
        width: 700px;
        background-position-x: -150px;
        background-position-y: 20px;
        background-size: contain;
    }
    .box-container_p7 {
        align-items: center;
    }
    .p7-h1 {
        position: absolute;
        width: 700px;
        height: 220px;
        left: 30px;
        top: 80px;
   
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        
        color: #FFFFFF;
    }
    .p7-h2 {
        font-family: Maven Pro;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
    }
    .p7-h1 {
        margin-bottom: 30px;
    }
    .p7-h2 {
        width: 253px;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 14px;
    }
    .p7-offer input[type="text"], .p7-offer select, .p7-offer textarea {
        margin: 6px 0;
        padding: 12px;
        font-size: 16px;
    }
    .p7-offer select { height: 40px; }
    .p7-offer textarea { min-height: 130px; }
    .labelSubmit {
        margin-top: 30px;
    }
    .p7-offer label {
        font-size: 16px;
    }
    .checkOfer {
        margin-top: 0;
        margin-bottom: 0;
        max-width: 230px;     
        margin-top: 0px;   
    }
    #nameMailFormOfer{        width: 307px;
        height: 35.09px;
        margin-top: 5px;  


    }
    #phoneMailFormOfer{        width: 307px;
        height: 35.09px;
        margin-top: 5px; 

   }
   #emailMailFormOfer{        width: 307px;
    height: 35.09px;
    margin-top: 5px; 
   }
   #msgMailFormOfer{
    width: 307px;
    height: 35.09px;
   }
    .themeMailFormOfer{
        margin: 1px 0;
        height: 37.51px;
        font-size: 16px;
        padding: 0 10px; 
        margin-top: 5px;
    }
    .textarea{
        height: 112.53px;
    }
    .box_img {
        margin-left: 13%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .p7-block3 {
        display: flex;
        align-items: center;
    }
    .p7-block3 img {
        width: 35vw;
    }
    .p7-offer .submitOffer {
        width: 220px;
        height: 50px;
        border-radius: 25px;
    }
    .p7-block1{
        position: absolute;
        width: 307px;
        height: 35.09px;

        left: 30px;
        top: 180px;
    }
    .labelSubmit{
        position: absolute;
        width: 370px;
        height: 112.53px;

        top: 320.49px;   
    }
    #agreeMailFormOfer{
        font-weight: 500;
font-size: 14px;
line-height: 17px;
width: 196px;
    }
    #sendMailFormOfer{
        position: absolute;
        top: 75px;
        left: 50px;
    }
    #screenID7{
        max-height: 740px;
        background-color: black;
    }
}
/*mobile and loptop*/
/* @media (min-width: 320px) and (min-height: 300px) {
    .p7-h1 {
    font-size: 10px;
    margin-top: 20px;
    max-width: 230px; 
    }
    .p7-h2 {
        font-size: 12px;
        line-height: 1.3;
    }
    .p7-h1, .p7-h2 {
        margin-bottom: 8px;
    }
    form.p7-offer {
        max-width: 100%;
    }
    .p7-offer input[type="text"], .p7-offer select, .p7-offer textarea {
        margin: 5px 0;
        padding: 8px 10px 8px 10px;
        font-size: 12px;
    }
    .p7-offer select { height: 30px; }
    .p7-offer textarea { min-height: 80px; }
    .p7-offer label {
        font-size: 12px;
    }
    .themeMailFormOfer {
        height: 38px;
        font-size: 12px;
    }
    .checkOfer {
        padding-left: 35px;
        margin-bottom: 10px;
        font-size: 22px;
        max-width: 309px;
    }
    .p7-offer .checkOfer > .checkmark {
        top: calc(50% - 11px);
        left: 0;
        height: 22px;
        width: 22px;
    }
    .p7-offer .submitOffer {
        max-width: 180px;
        height: 35px;
        font-size: 14px;
        line-height: 22px;
        border-radius: 20px;
    }
} */
/* @media (min-width: 320px) and (min-height: 650px) {
    .p7-h1 {
        font-size: 12px;
        max-width: 250px; 
    }
    .p7-h2 {
        font-size: 14px;
    }
    .p7-h1, .p7-h2 {
        margin-bottom: 10px;
    }
    .p7-offer input[type="text"], .p7-offer select, .p7-offer textarea {
        margin: 6px 0;
        padding: 12px;
        font-size: 12px;
    }
    .p7-offer select { height: 35px; }
    .p7-offer textarea { max-height: 120px; height: 100%; }
    .p7-offer label {
        font-size: 12px;
    }
}  
@media (min-width: 320px) and (min-height: 750px) {
    .p7-h1 {
        font-size: 14px;
        max-width: 310px;
        margin-top: 30px; 
    }
    .p7-h2 {
        font-size: 16px;
    }
    .p7-h1 {
        margin-bottom: 20px;
    }
    .p7-h2 {
        margin-bottom: 10px;
    }
    .p7-offer input[type="text"], .p7-offer select, .p7-offer textarea {
        margin: 6px 0;
        padding: 12px;
        font-size: 14px;
    }
    .p7-offer select { height: 40px; }
    .p7-offer textarea { min-height: 110px; }
    .p7-offer label {
        font-size: 14px;
    }
    .checkOfer {
        margin-top: 14px;
        margin-bottom: 20px;
    }
    .themeMailFormOfer{
        margin: 8px 0;
        height: 40px;
        font-size: 14px;
        padding: 0 10px;
        
    }
}
@media (min-width: 375px) {
    .background-p7{
        padding-right: 30px;
        padding-left: 30px;
    }
    form.p7-offer {
        max-width: 310px;
    }
    .p7-offer textarea { max-height: 120px; height: 100%; }
} */
/* @media (min-width: 768px) and (orientation: landscape) {
    .box-container_p7 {
        align-items: center;
    }
    .p7-h1 {
    font-size: 12px;
    max-width: 250px; 
    }
    .p7-h2 {
        font-size: 12px;
    }
    .p7-h1, .p7-h2 {
        margin-bottom: 14px;
    }
    form.p7-offer {
        max-width: 310px;
    }
    .p7-offer input[type="text"], .p7-offer select, .p7-offer textarea {
        margin: 5px 0;
        padding: 8px 10px 8px 10px;
        font-size: 12px;
    }
    .themeMailFormOfer {
        height: 40px;
        font-size: 12px;
    }
    .p7-offer select { height: 30px; }
    .p7-offer textarea { min-height: 80px; }
    .p7-offer label {
        font-size: 12px;
    }
    .checkOfer {
        padding-left: 35px;
        margin-bottom: 20px;
        font-size: 22px;
        max-width: 309px;
    }
    .p7-offer .checkOfer > .checkmark {
        top: calc(50% - 11px);
        left: 0;
        height: 22px;
        width: 22px;
    }
    .p7-offer .submitOffer {
        max-width: 200px;
        height: 40px;
        font-size: 18px;
        line-height: 22px;
        border-radius: 25px;
    }
    .box_img {
        margin-left: 20%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .p7-block2 {
        display: flex;
        align-items: center;
    }
    .p7-block2 img {
        width: 11vw;
    }
} */
/* @media (min-width: 768px) and (orientation: portrait) {
    .background-p7 {
        padding-left: 60px;
        padding-right: 60px;
    }
    .box-container_p7 {
        align-items: center;
    }
    .p7-h1 {
        font-size: 22px;
        max-width: 340px;
        margin-top: 0; 
    }
    .p7-h2 {
        font-size: 18px;
    }
    .p7-h1 {
        margin-bottom: 30px;
    }
    .p7-h2 {
        margin-bottom: 14px;
    }
    .p7-offer input[type="text"], .p7-offer select, .p7-offer textarea {
        margin: 6px 0;
        padding: 12px;
        font-size: 14px;
    }
    .p7-offer select { height: 40px; }
    .p7-offer textarea { min-height: 130px; }
    .p7-offer label {
        font-size: 14px;
    }
    .checkOfer {
        margin-top: 14px;
        margin-bottom: 35px;
    }
    .themeMailFormOfer{
        margin: 8px 0;
        height: 40px;
        font-size: 14px;
        padding: 0 10px; 
    }
    .box_img {
        margin-left: 12%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .p7-block2 {
        display: flex;
        align-items: center;
    }
    .p7-block2 img {
        width: 18vw;
    }
    .p7-offer .submitOffer {
        max-width: 220px;
        height: 50px;
        border-radius: 25px;
    }
} */

/*desctop*/
/* @media (min-width: 992px) and (orientation: landscape) and (max-height: 800px) {
    .background-p7 {
        padding-left: 5vw;
        padding-right: 5vw;
    }
    .box-container_p7 {
        align-items: center;
    }
    .p7-h1 {
        font-size: 18px;
        max-width: 400px;
        margin-top: 0;
    }
    .p7-h2 {
        font-size: 16px;
    }
    .p7-h1, .p7-h2 {
        margin-bottom: 14px;
    }
    .p7-offer input[type="text"], .p7-offer select, .p7-offer textarea {
        margin: 5px 0;
        padding: 8px 10px 8px 10px;
        font-size: 14px;
    }
    .themeMailFormOfer {
        height: 40px;
        font-size: 14px;
    }
    .p7-offer select { height: 30px; }
    .p7-offer textarea { min-height: 80px; }
    .p7-offer label {
        font-size: 12px;
    }
    
    .p7-offer .checkOfer > .checkmark {
        top: calc(50% - 11px);
        left: 0;
        height: 22px;
        width: 22px;
    }
    .p7-offer .submitOffer {
        width: 180px;
        height: 40px;
        font-size: 16px;
        line-height: 22px;
        border-radius: 20px;
    }
    .box_img {
        margin-left: 7%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .p7-block3 {
        display: flex;
        align-items: center;
    }
    .p7-block3 img {
        width: 35vw;
    }
    .labelSubmit {
        margin-top: 12px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    form.p7-offer {
        max-width: 400px;
    }
    .checkOfer {
        padding-left: 35px;
        margin-bottom: 20px;
        font-size: 22px;
        margin-top: 0;
        margin-bottom: 0;
        max-width: 200px;
    }
}
@media (min-width: 992px) and (orientation: portrait) {
    .box_img {
        margin-left: 7%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .p7-block3 {
        display: flex;
        align-items: center;
    }
    .p7-block3 img {
        width: 40vw;
    }
} */
/* @media (min-width: 992px) and (orientation: landscape) and (min-height: 800px) {
    .background-p7 {
        padding-left: 8vw;
        padding-right: 8vw;
    }
    .box-container_p7 {
        align-items: center;
    }
    .p7-h1 {
        font-size: 22px;
        max-width: 440px;
        margin-top: 0; 
    }
    .p7-h2 {
        font-size: 22px;
    }
    .p7-h1 {
        margin-bottom: 30px;
    }
    .p7-h2 {
        margin-bottom: 14px;
    }
    form.p7-offer {
        max-width: 520px;
    }
    .p7-offer input[type="text"], .p7-offer select, .p7-offer textarea {
        margin: 6px 0;
        padding: 12px;
        font-size: 14px;
    }
    .p7-offer select { height: 40px; }
    .p7-offer textarea { min-height: 130px; }
    .p7-offer label {
        font-size: 14px;
    }
    .checkOfer {
        margin-top: 14px;
        margin-bottom: 35px;
    }
    .themeMailFormOfer{
        margin: 8px 0;
        height: 40px;
        font-size: 14px;
        padding: 0 10px; 
    }
    .box_img {
        margin-left: 5%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .p7-block3 {
        display: flex;
        align-items: center;
    }
    .p7-block3 img {
        width: 40vw;
    }
    .p7-offer .submitOffer {
        max-width: 220px;
        height: 50px;
        border-radius: 25px;
    }
} */
@media (min-width: 1920px) and (orientation: landscape)  {
    .background-p7 {
        padding-left: 8vw;
        padding-right: 8vw;
    }
    .box-container_p7 {
        align-items: center;
    }
    .p7-h1 {
        position: absolute;
        width: 700px;
        height: 220px;
        left: 219px;
        top: 180px;
   
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 45px;
        line-height: 55px;
        text-transform: uppercase;
        
        color: #FFFFFF;
    }
    .p7-h2 {
        font-size: 22px;
    }
    .p7-h1 {
        margin-bottom: 30px;
    }
    .p7-h2 {
        margin-bottom: 14px;
    }
    .p7-offer input[type="text"], .p7-offer select, .p7-offer textarea {
        margin: 6px 0;
        padding: 12px;
        font-size: 16px;
    }
    .p7-offer select { height: 40px; }
    .p7-offer textarea { min-height: 130px; }
    .labelSubmit {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .p7-offer label {
        font-size: 16px;
    }
    .checkOfer {
        margin-top: 0;
        margin-bottom: 0;
        max-width: 230px;     
        margin-top: 20px;   
    }
    #nameMailFormOfer{
        height: 60px;
        margin-top: 25.67px;  


    }
    #phoneMailFormOfer{
        height: 60px;
        margin-top: 20px; 

   }
   #emailMailFormOfer{
    height: 60px;
    margin-top: 20px; 
   }
    .themeMailFormOfer{
        margin: 8px 0;
        height: 60px;
        font-size: 16px;
        padding: 0 10px; 
        margin-top: 20px;
        margin-bottom: 10;
    }
    .textarea{
        height: 180px;
    }
    .box_img {
        margin-left: 13%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .p7-block3 {
        display: flex;
        align-items: center;
    }
    .p7-block3 img {
        width: 35vw;
    }
    .p7-offer .submitOffer {
        width: 220px;
        height: 50px;
        border-radius: 25px;
    }
    .p7-block1{
        position: absolute;

height: 638px;
left: 975px;
top: 60px;
    }

    
}
/* @media (min-width: 1440px) and (orientation: landscape) and (min-height: 900px) {
    .background-p7 {
        padding-left: 8vw;
        padding-right: 8vw;
    }
    .box-container_p7 {
        align-items: center;
    }
    .p7-h1 {
        font-size: 30px;
        max-width: 520px;
        margin-top: 0;
        line-height: 1.5; 
    }
    .p7-h2 {
        font-size: 22px;
    }
    .p7-h1 {
        margin-bottom: 30px;
    }
    .p7-h2 {
        margin-bottom: 16px;
    }
    form.p7-offer {
        max-width: 520px;
    }
    .p7-offer input[type="text"], .p7-offer select, .p7-offer textarea {
        margin: 6px 0;
        padding: 12px;
        font-size: 16px;
    }
    .p7-offer select { height: 40px; }
    .p7-offer textarea { min-height: 130px; }
    .labelSubmit {
        margin-top: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .p7-offer label {
        font-size: 16px;
    }
    .checkOfer {
        margin-top: 0;
        margin-bottom: 0;
    }
    .themeMailFormOfer{
        margin: 8px 0;
        height: 40px;
        font-size: 16px;
        padding: 0 10px; 
    }
    .box_img {
        margin-left: 13%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    .p7-block3 {
        display: flex;
        align-items: center;
    }
    .p7-block3 img {
        width: 35vw;
    }
    .p7-offer .submitOffer {
        width: 220px;
        height: 50px;
        border-radius: 25px;
    }
}
@media (min-width: 1680px) {
    .p7-h1 {
        font-size: 40px;
        line-height: 1.3; 
        min-width: 680px;
    }
} */
/* @media (orientation: portrait) and (max-height: 750px) {
    .box-container_p7 {
        overflow: scroll;
    } 
}
@media (orientation: landscape) and (max-height: 450px) {
    .box-container_p7 {
        overflow: scroll;
    } 
}
@media (orientation: landscape) and (min-width: 768px) {
    .box-container_p7 {
        height: 95vh; padding-right: 110px;
    }
    .p7-block2{
        display: none !important;
    }
}
@media (orientation: portrait) and (min-width: 768px) {
    .box-container_p7 {
        overflow: scroll;
        height: 95vh; padding-right: 110px; padding-left: 50px;
    }
    .p7-h1{
        min-width: 340px;
        font-size: 22px;
        line-height: 27px;
    }
    .p7-h2{
        min-width: 340px;
        font-size: 18px;
        line-height: 21px;
    }
    .p7-block1{ 
        max-width: 340px;
    }
    .p7-offer input[type="text"], .p7-offer select, .p7-offer textarea{
        padding: 10px 20px;
        font-size: 14px;
        width: 100%;
    }
    .p7-offer textarea{min-height: 110px;}
    .checkOfer{
        margin-top: 20px; margin-bottom: 40px;
    }
    .p7-block2{
        width: 100%;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}
.p7-img-desktop {
    background-image: url(../img/p7-image-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 650px;
    min-height: 400px;
}
.p7-block3 {
    max-width: 450px;
    padding: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.labelSubmit{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
@media (min-width: 992px) {
    .box-container_p7{
        overflow: hidden;
    }
    .p7-h1{
        min-width: 400px;
        font-size: 24px;
        line-height: 28px;
    }
    .p7-h2{
        min-width: 340px;
        font-size: 18px;
        line-height: 22px;
    }
    .labelSubmit{
        margin-top: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .checkOfer {
        padding-right: 50px;
    }
    .p7-img-desktop {
        min-height: 600px;
    }
}
@media (min-width: 1200px) {
    .box-container_p7 {
        padding-left: 50px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .p7-h1{
        min-width: 470px;
        font-size: 30px;
        line-height: 34px;
    }
    .p7-h2{
        min-width: 470px;
        font-size: 18px;
        line-height: 20px;
    }
    .labelSubmit{
        margin-top: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .checkOfer {
        padding-right: 50px;
    }
    .p7-offer {
        max-width: 400px;
    }
    .p7-block3 {
        min-width: 600px;
        max-width: 750px;
        padding: 20px;
        height: 100%;
    }
    .p7-img-desktop{
        max-height: 700px;
    } 
}
@media (min-width: 1200px) and (max-height:700px) {
    .p7-h1{
        font-size: 25px;
        line-height: 30px;
    }
    .p7-offer textarea{
        min-height: 100px;
    }
    .p7-img-desktop{
        min-height: 500px !important;
    } 
}
@media (min-width: 1200px) and (max-height:650px) {
    .p7-h1{
        font-size: 25px;
        line-height: 30px;
        margin-top: 25px;
    }
    .p7-offer textarea{
        min-height: 60px;
    }
    .p7-img-desktop{
        min-height: 500px !important;
    } 
}
@media (min-width: 1400px) {
    .p7-h1{
        min-width: 700px;
        font-size: 45px;
        line-height: 55px;
    }
    .p7-h2{
        min-width: 470px;
        font-size: 22px;
        line-height: 26px;
    }
    .p7-block3 {
        width: 100%;
        padding: 20px;
    }
    .p7-offer {
        max-width: 525px;
    }
}
@media (max-width: 568px) and (max-height: 750px){
    .p7-offer textarea{
        min-height: 60px;
    }
}
@media (max-width: 568px) and (max-height: 675px){
    .p7-h1{
        font-size: 14px;
        margin-top: 20px;
    }
    .p7-offer .submitOffer {
        width: 180px;
        height: 35px;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 18px;
        border-radius: 17px;
    }
    .p7-h2{
        margin-bottom: 5px;
    }
}
@media (max-width: 568px) and (max-height: 600px){
    .box-container_p7{
        height: 100vh;
    }
} */