
.gradient-maz1{
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 9057px;
    
    background: linear-gradient(356.26deg, #000000 -0.8%, rgba(0, 0, 0, 0.97) 9.14%, rgba(0, 0, 0, 0.843778) 20.96%, rgba(0, 0, 0, 0) 73.78%);
    background: linear-gradient(356.26deg, #000000 -0.8%, rgba(0, 0, 0, 0.97) 9.14%, rgba(0, 0, 0, 0.843778) 20.96%, rgba(0, 0, 0, 0) 73.78%);
transform: matrix(1, 0, 0, -1, 0, 0);
}
.gradient-maz2{
    background: linear-gradient(10.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
    position: absolute;
width: 1920px;
height: 1080px;
left: 0px;
top: 9163px;

background: linear-gradient(6.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
mix-blend-mode: darken;
}
.gradient-maz3{
width: 1920px;
height: 1080px;
left: 0px;
top: 9136px;

background: linear-gradient(1.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
mix-blend-mode: darken;
}
.gradient-maz3{
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 9136px;
    
    background: linear-gradient(40.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
    mix-blend-mode: darken;
    }
.background-maz{
    
    height: 100%;
    width: 100vw;
 
    background-repeat: no-repeat;
    background-position: bottom 30% right 0%;
    background-size: cover;
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-image: url(../img/mazall.png);
}
.maz-bottle{
    position: absolute;
    width: 102px;
    height: 336px;
    left: 95px;
    top: 9401px;

}
.text-on-maz{
        position: absolute;
    width: 987.14px;
    height: 235px;
    left: 254.27px;
    top: 9428.27px;
    font-family: Maven Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 200px;
    line-height: 235px;
    color: #494949;
    transform: rotate(-0.03deg);
}
.text-maz{
    position: absolute;
    width: 850px;
    height: 160px;
    left: 889px;
    top: 9240px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    
    color: #FFFFFF;
}
.blackline-maz{
    background-color: black;
    height: 0px;
}
.maz-left-block{
    position: absolute;
    width: 625px;
    height: 443px;
    left: 212px;
    top: 9428px;

}
.maz-right-block{
    position: absolute;
    width: 608px;
    height: 382px;
    left: 1099px;
    top: 9489px;

}
.text-under-maz{
    display: flex;
}
.text-under-maz-block1{
    margin-top: 440px;
    margin-left: 220px;
    width: 400px;
    height: 40px;


    font-family: Maven Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 34.0228px;
    line-height: 40px;
    /* identical to box height */


color: #FFFFFF;
}
.text-under-maz-block2{
    margin-top: 440px;
    margin-left: 500px;
    width: 400px;
    height: 40px;

    
    font-family: Maven Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 34.0228px;
    line-height: 40px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    
}
.blackline-maz-bot{
    height: 79px;
    background-color: black;
}
.pallets{
    height: 0px;
    background-color: black;
    display: flex;
}
.left-pallet{
    margin-top: 100px;
    margin-left: 250px;

}
.right-pallet{
    margin-left: 300px;
    margin-top: 100px;
}

@media(min-width: 1920px) {
    .gradient-maz1{
        position: absolute;
        max-width: 0px;
        height: 0px;
        left: 0px;
        top: 8398px;
        
        background: linear-gradient(356.26deg, #000000 -0.8%, rgba(0, 0, 0, 0.97) 9.14%, rgba(0, 0, 0, 0.843778) 20.96%, rgba(0, 0, 0, 0) 73.78%);
        background: linear-gradient(356.26deg, #000000 -0.8%, rgba(0, 0, 0, 0.97) 9.14%, rgba(0, 0, 0, 0.843778) 20.96%, rgba(0, 0, 0, 0) 73.78%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    }
    .gradient-maz2{
        background: linear-gradient(10.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
        position: absolute;
    max-width: 0px;
    height: 0px;
    left: 0px;
    top: 8421px;
    
    background: linear-gradient(6.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
    mix-blend-mode: darken;
    }
    .gradient-maz3{
    max-width: 0px;
    height: 0px;
    left: 0px;
    top: 9136px;
    
    background: linear-gradient(1.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
    mix-blend-mode: darken;
    }
    .gradient-maz3{
        position: absolute;
        max-width: 0px;
        height: 0px;
        left: 0px;
        top: 898px;
        
        background: linear-gradient(40.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
        mix-blend-mode: darken;
        }
    .background-maz{
        min-height: 90%;
        max-width: 1920px;
     
        background-repeat: no-repeat;
        background-position: bottom 30% right 0%;
        background-position-y: 100px;
        background-size: cover;
        overflow: hidden;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;

                background-size: contain;
                background-image: url(../img/mazall.png);

    }
    .maz-bottle{
        display: none;

    }
    .text-on-maz{
            position: absolute;
            width: 0px;
            height: 0px;
        left: 254.27px;
        top: 8628.27px;
        font-family: Maven Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 0px;
        line-height: 198px;
        /* identical to box height */
        
        
        color: #494949;
        
        transform: rotate(-0.03deg);
        
        
        color: #494949;
        
        transform: rotate(-0.03deg);
    }
    .text-maz{
        position: absolute;
        width: 0px;
        height: 0px;
        left: 707px;
        top: 8440px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 0px;
        line-height: 29px;
        
        color: #FFFFFF;
    }
    .blackline-maz{
        background-color: black;
        height: 0px;
    }
    .maz-left-block{
        position: absolute;
        width: 0px;
        height: 0px;
        left: 212px;
        top: 8628px;        
    }
    .maz-left-block img{
        width: 0%;
        height: 0%;
    }
    .maz-right-block{
        position: absolute;
        width: 0px;
        height: 0px;
        left: 969px;
        top: 8689px;
    }
    .maz-right-block img{
        width: 0%;
        height: 0%;

    }
    .text-under-maz-block1{
  
        width: 400px;
        height: 40px;

    
        font-family: Maven Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 34.0228px;
        line-height: 40px;
        /* identical to box height */
    
    
    color: #FFFFFF;
    }
    .text-under-maz-block2{

        width: 400px;
        height: 40px;

        
        font-family: Maven Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 34.0228px;
        line-height: 40px;
        /* identical to box height */
        
        
        color: #FFFFFF;
        
    }
    .blackline-maz-bot{
        height: 79px;
        background-color: black;
    }

}

@media(min-width: 1620px) and (max-width: 1919px) {

    .gradient-maz1{
        display: none;
    }
    .gradient-maz2{
        display: none;
    }
    .gradient-maz3{
        display: none;
    }
    .gradient-maz3{
        display: none;
        }
    .background-maz{
        min-height: 90%;
        max-width: 1620px;
     
        background-repeat: no-repeat;
        background-position: bottom 30% right 0%;
        background-size: cover;

        overflow: hidden;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;

                background-size: contain;
        background-image: url(../img/mazall.png);
    }
    .maz-bottle{
        display: none;

    }
    .text-on-maz{
        display: none;
    }
    .text-maz{
        position: absolute;
        width: 790px;
        height: 145px;
        left: 707px;
        top: 8440px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        
        color: #FFFFFF;
    }
    .blackline-maz{
        background-color: black;
        height: 100px;
    }
    .maz-left-block{
        display: none;     
    }
    .maz-left-block img{
        display: none;
    }
    .maz-right-block{
        display: none;
    }
    .maz-right-block img{
        display: none;

    }
    .text-maz{
        display: none;
    }
    .text-under-maz{
        display: flex;
    }
    .text-under-maz-block1{
        margin-bottom: 30px;
        margin-left: 200px;
        width: 400px;
        height: 40px;
    
    
        font-family: Maven Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 34.0228px;
        line-height: 40px;
        /* identical to box height */
    
    
    color: #FFFFFF;
    }
    .text-under-maz-block2{
        margin-bottom: 30px;
        margin-left: 350px;
        width: 400px;
        height: 40px;
    
        
        font-family: Maven Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 34.0228px;
        line-height: 40px;
        /* identical to box height */
        
        
        color: #FFFFFF;
        
    }
    .blackline-maz-bot{
        height: 79px;
        background-color: black;
    }
    .pallets{
        height: 0px;
        background-color: black;
        display: flex;
    }
    .left-pallet{
        margin-top: 100px;
        margin-left: 250px;
    
    }
    .right-pallet{
        margin-left: 140px;
        margin-top: 100px;
    }
    
}
@media(min-width: 1199px) and (max-width: 1619px) {

    .gradient-maz1{
        display: none;
    }
    .gradient-maz2{
        display: none;
    }
    .gradient-maz3{
        display: none;
    }
    .gradient-maz3{
        display: none;
        }
    .background-maz{
        min-height: 100%;
        max-width: 1200px;
     
        background-repeat: no-repeat;
        background-position: bottom 30% right 0%;
        background-size: cover;

        overflow: hidden;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;

                background-size: contain;
        background-image: url(../img/mazall.png);
    }
    .maz-bottle{
        display: none;

    }
    .text-on-maz{
        display: none;
    }
    .text-maz{
        position: absolute;
        width: 790px;
        height: 145px;
        left: 707px;
        top: 8440px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        
        color: #FFFFFF;
    }
    .blackline-maz{
        background-color: black;
        height: 100px;
    }
    .maz-left-block{
        display: none;     
    }
    .maz-left-block img{
        display: none;
    }
    .maz-right-block{
        display: none;
    }
    .maz-right-block img{
        display: none;

    }
    .text-maz{
        display: none;
    }
    .text-under-maz{
        display: flex;
    }
    .text-under-maz-block1{
        margin-top: 260px;
        margin-left: 135px;
        width: 400px;
        height: 40px;
    
    
        font-family: Maven Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        /* identical to box height */
    
    
    color: #FFFFFF;
    }
    .text-under-maz-block2{
        margin-top: 260px;
        margin-left: 160px;
        width: 400px;
        height: 40px;
    
        
        font-family: Maven Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        /* identical to box height */
        
        
        color: #FFFFFF;
        
    }
    .blackline-maz-bot{
        height: 79px;
        background-color: black;
    }
    .pallets{
        height: 400px;
        background-color: black;
        display: flex;
    }
    .left-pallet{
        margin-top: 0px;
        margin-left: 150px;
    
    }
    .right-pallet{
        margin-left: 70px;
        margin-top: 0px;
    }
    


    .left-pallet img{
        width: 70%;
        height: 70%;
    }
    .right-pallet img{
        width: 70%;
        height: 70%;
    }
}
@media(min-width: 767px) and (max-width: 1199px) {

    .gradient-maz1{
        display: none;
    }
    .gradient-maz2{
        display: none;
    }
    .gradient-maz3{
        display: none;
    }
    .gradient-maz3{
        display: none;
        }
    .background-maz{
  
        min-height: 394px;
        max-height: 400px;
        max-width: 1200px;
     



        background-image: url(../img/mazall.png);
    }
    .maz-bottle{
        display: none;

    }
    .text-on-maz{
        display: none;
    }
    .text-maz{
        position: absolute;
        width: 790px;
        height: 145px;
        left: 707px;
        top: 8440px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        
        color: #FFFFFF;
    }
    .blackline-maz{
        background-color: black;
        height: 100px;
    }
    .maz-left-block{
        display: none;     
    }
    .maz-left-block img{
        display: none;
    }
    .maz-right-block{
        display: none;
    }
    .maz-right-block img{
        display: none;

    }
    .text-maz{
        display: none;
    }
    .text-under-maz{
        display: flex;
    }
    .text-under-maz-block1{
        margin-bottom: 20px;
        margin-left: 80px;
        width: 400px;
        height: 40px;
    
    
        font-family: Maven Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        /* identical to box height */
    
    
    color: #FFFFFF;
    }
    .text-under-maz-block2{
        margin-bottom: 20px;
        margin-left: 20px;
        width: 400px;
        height: 40px;
    
        
        font-family: Maven Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        /* identical to box height */
        
        
        color: #FFFFFF;
        
    }
    .blackline-maz-bot{
        height: 79px;
        background-color: black;
    }
    .pallets{
        height: 400px;
        background-color: black;
        display: flex;
    }
    .left-pallet{
        margin-top: 0px;
        margin-left: 100px;
    
    }
    .right-pallet{
        margin-left: 100px;
        margin-top: 0px;
    }

    .left-pallet img{
        width: 270.35px;
        height: 228.06px;
    }
    .right-pallet img{
        width: 270.35px;
        height: 228.06px;
    }
@media(min-width: 375px) and (max-width: 767px) {

    .gradient-maz1{
        position: absolute;
        width: 375px;
        height: 755px;
        left: 0px;
        top: 5671px;
        
        background: linear-gradient(356.26deg, #000000 -0.8%, rgba(0, 0, 0, 0.97) 9.14%, rgba(0, 0, 0, 0.843778) 20.96%, rgba(0, 0, 0, 0) 73.78%);
        background: linear-gradient(365.26deg, #000000 -0.8%, rgba(0, 0, 0, 0.97) 9.14%, rgba(0, 0, 0, 0.843778) 20.96%, rgba(0, 0, 0, 0) 73.78%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    }
    .gradient-maz2{
        background: linear-gradient(10.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
        position: absolute;
        width: 375px;
        height: 355px;
    left: 0px;
    top: 5830px;
    
    background: linear-gradient(6.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
    mix-blend-mode: darken;
    }
    .gradient-maz3{
        width: 375px;
        height: 355px;
    left: 0px;
    top: 5671px;
    background: linear-gradient(1.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
    mix-blend-mode: darken;
    }
    .gradient-maz3{
        position: absolute;
        width: 375px;
        height: 355px;
        left: 0px;
        top: 5940px;
        
        background: linear-gradient(40.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
        mix-blend-mode: darken;
        }
    .background-maz{
        height: 434px;
        width: 375px;
        left: 0px;
        top: 0px;
        border-radius: 0px;
        
        background-position-x: -430px;
    
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;

        background-image: url(../img/maz.png);
    }
    .maz-bottle{
        position: absolute;
        width: 102px;
        height: 336px;
        left: 60px;
        top: 5721px;

    }
    .maz-bottle img{
        width: 0px;
        height: 134.4px;
    }
    .text-on-maz{
            position: absolute;
            width: 832.71px;
            height: 198.23px;
        left: -170.27px;
        top: 5875.27px;
        font-family: Maven Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 70px;
        line-height: 94px;
        /* identical to box height */
        overflow: hidden;
        
        
        color: #494949;
        
        transform: rotate(-0.03deg);
        
        
        color: #494949;
        
        transform: rotate(-0.03deg);
    }
    .text-maz{
        position: absolute;
        width: 302px;
        height: 136px;
        left: 28px;
        top: 5680px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        
        color: #FFFFFF;
    }
    .blackline-maz{
        background-color: black;
        height: 200px;
    }
    .maz-left-block{
        position: absolute;
        width: 625px;
        height: 443px;
        left: 30px;
        top: 5858px;        
    }
    .maz-left-block img{
        width: 286px;
        height: 193px;
    }
    .maz-right-block{
        position: absolute;
        width: 608px;
        height: 382px;
        left: 40px;
        top: 6448px;   
    }
    .maz-right-block img{
        width: 288.31px;
        height: 194.69px;

    }
    .text-under-maz-block1{
        position: absolute;
        width: 400px;
        height: 40px;
        left: 30px;
        top: 6090px;
    
        font-family: Maven Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        /* identical to box height */
    
    
    color: #FFFFFF;
    }
    .text-under-maz-block2{
        position: absolute;
        width: 400px;
        height: 40px;
        left: 30px;
        top: 6690px;
        
        font-family: Maven Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        /* identical to box height */
        
        
        color: #FFFFFF;
        
    }
    .blackline-maz-bot{
        height: 79px;
        background-color: black;
    }
    .pallets{
        height: 220px;
        background-color: black;
    }
    .left-pallet{
        position: absolute;
        left: 70px;
        top: 6152px;

    }
    .right-pallet{
        position: absolute;
        left: 70px;
        top: 6752px;

    }

    .left-pallet img{
        width: 270.35px;
        height: 228.06px;
    }
    .right-pallet img{
        width: 270.35px;
        height: 228.06px;
    }
}
}