.icone{
    position: relative;
    width: 143px;
    height: 143px;
    left: 200px;
    top: 80px;



}
.footer-block{
 
    display: flex;
    background-color: black;
    width:1920px;
    height:360px;
 
    
}
.adress{
 

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    /* identical to box height, or 146% */
    
    
    color: #FFFFFF;
}
.adress-text{
    margin-top: 15px;
    width: 598px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 35px;
    /* identical to box height, or 175% */
    
    
    color: #FFFFFF;
}
.contacts{
    margin-top: 39px;

    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 45px;
    /* identical to box height, or 205% */
    
    
    color: #FFFFFF;
}
.left-text{
    margin-left: 327px;
    margin-top: 27px;
}
.copyright{
    margin-top: 220px;
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 45px;
/* identical to box height, or 205% */


color: #FFFFFF;
}
.right-text{
    position: absolute;
left: 1127px;

}
@media(min-width: 1620px) and (max-width: 1919px) {
    .icone{
        position: relative;
        width: 143px;
        height: 143px;
        left: 200px;
        top: 80px;
        background-image: url(../img/icon.svg);
    
    
    }
    .footer-block{
     
        display: flex;
        background-color: black;
        width:1620px;
        height:360px;
     
        
    }
    .adress{
     
    
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 35px;
        /* identical to box height, or 146% */
        
        
        color: #FFFFFF;
    }
    .adress-text{
        margin-top: 15px;
        width: 598px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 35px;
        /* identical to box height, or 175% */
        
        
        color: #FFFFFF;
    }
    .contacts{
        margin-top: 39px;
    
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 45px;
        /* identical to box height, or 205% */
        
        
        color: #FFFFFF;
    }
    .left-text{
        margin-left: 260px;
        margin-top: 27px;
    }
    .copyright{
        margin-top: 220px;
        font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 45px;
    /* identical to box height, or 205% */
    
    
    color: #FFFFFF;
    }
    .right-text{
        position: absolute;
    left: 950px;
    
    }
}
@media(min-width: 1199px) and (max-width: 1619px) {
    .allpages{
        max-width: 1200px;
        overflow: hidden;
    }
    .icone{
        position: relative;

        left: 150px;
        top: 60px;
    }
    .icone img{
        width: 89.4px;
        height: 89.4px;
    }
    .footer-block{
     
        display: flex;
        background-color: black;
        max-width:1200px;
        height:360px;
     
        
    }
    .adress{
     
    
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height, or 146% */
        
        
        color: #FFFFFF;
    }
    .adress-text{
        margin-top: 15px;
        width: 598px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        /* identical to box height, or 175% */
        
        
        color: #FFFFFF;
    }
    .contacts{
        margin-top: 39px;
    
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
        /* identical to box height, or 205% */
        
        
        color: #FFFFFF;
    }
    .left-text{
        margin-left: 140px;
        margin-top: 27px;
        font-size: 14px;
        line-height: 22px;
    }
    .copyright{
        margin-top: 150px;
        font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 205% */
    
    
    color: #FFFFFF;
    }
    .right-text{
        position: absolute;
    left: 700px;
    
    }
}
@media(min-width: 767px) and (max-width: 1199px) {
    .allpages{
        max-width: 768px;
        overflow: hidden;
    }
    .icone{
        position: relative;

        left: 30px;
        top: 60px;
    }
    .icone img{
        width: 57.2px;
        height: 57.2px;
    }
    .footer-block{
     
        display: flex;
        background-color: black;
        max-width:768px;
        height:360px;
     
        
    }
    .adress{
     
    
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height, or 146% */
        
        
        color: #FFFFFF;
    }
    .adress-text{
        margin-top: 25px;
        width: 350px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 25px;
        /* identical to box height, or 175% */
        
        
        color: #FFFFFF;
    }
    .contacts{
        margin-top: 20px;
    
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 28px;
        /* identical to box height, or 205% */
        
        
        color: #FFFFFF;
    }
    .left-text{
        margin-left: -110px;
        margin-top: 150px;
        font-size: 14px;
        line-height: 22px;
    }
    .copyright{
        margin-top: 130px;
        font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 205% */
    
    
    color: #FFFFFF;
    }
    .right-text{

        position: absolute;
        top: 7725px;
        left: 420px;

    
    }

}
@media(min-width: 375px) and (max-width: 767px) {
    .allpages{
        max-width: 375px;
        overflow: hidden;
    }
    .icone{
        position: relative;

        left: 30px;
        top: 285px;
    }
    .icone img{
        width: 80px;
        height: 80px;
    }
    .footer-block{
     
        display: flex;
        background-color: black;
        max-width: 375px;
        height: 580px;
     
        
    }
    .adress{
     
    
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height, or 146% */
        
        
        color: #FFFFFF;
    }
    .adress-text{
        margin-top: 25px;
        width: 283px;
        height: 120px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height, or 175% */
        
        
        color: #FFFFFF;
    }
    .contacts{
        margin-top: 20px;
    
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        /* identical to box height, or 205% */
        
        
        color: #FFFFFF;
    }
    .left-text{
        margin-left: -110px;
        margin-top: 400px;
        font-size: 14px;
        line-height: 22px;
    }
    .copyright{
        margin-top: 30px;
        font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    /* identical to box height, or 205% */
    
    
    color: #FFFFFF;
    }
    .right-text{
        width: 500px;
        height: 200px;
        position: absolute;
        top: 8125px;
        left: 30px;

    
    }
}