/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select:focus,

/* АКТИВНЫЙ СЛАЙД
.activeSlide { z-index: 2200; right: 0; -webkit-transition: 1s; -o-transition: 1s; transition: 1s;}
/* СЛЕДУЮЩИЙ СЛАЙД */
/* .next-activeSlide { z-index: 2100; right: -100vw; -webkit-transition: 1s; -o-transition: 1s; transition: 1s;} */
/* ПРЕДЫДУЩИЙ СЛАЙД */
/* .pre-activeSlide { z-index: 2100; right: +100vw; -webkit-transition: 1s; -o-transition: 1s; transition: 1s;} */

 /* Активный слайд */
.activeScreen {right: 0; -webkit-transition: .1s; -o-transition: .1s; transition: .1s;}
/* .activeScreen {right: 0;} */
 /* Неактивный слайд */
.pre-activeScreen {right: +100vw; -webkit-transition: .1s; -o-transition: .1s; transition: .1s;}
/* .pre-activeScreen {right: +100vw;} */
.tapNext{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2200;
}
#screenID1{ z-index: 2202;}
#screenID2{ z-index: 2199;}
#screenID4{ z-index: 2197;}
#screenID3{ z-index: 2198;}
#screenID5{ z-index: 2196;}
#screenID6{ z-index: 2195;}
#screenID7{ z-index: 2194;}
#screenID8{ z-index: 2193;}

.cursor-pointer{
    cursor: pointer;
}
.navigationField{
    position: absolute;
    width: 120px;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    z-index: 2202;
}
.navigationButton{
    width: 120px;
    height: 340px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.inStartLayout, .inEndLayout, .prevNumber, .nextNumber, .NOW_Number{
    font-family: 'Maven Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

}
.prevNumber .spanNumber, .nextNumber .spanNumber, .NOW_Number .spanNumber {
    margin: 10px 3px;
    width: 60px;
    height: 21px;
}
.prevNumber .spanNumberMini, .nextNumber .spanNumberMini, .NOW_Number .spanNumberMini {
    width: 28px;
    height: 21px;
}

/* ********************
** * *  MOBILE  * * *** 
**********************/
.navigationField_mob{
    position: fixed;
    width: 100vw;
    height: 100px;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    z-index: 2202;
    /* background-color: black; */
    padding-bottom: 1.5rem;
}
@media (max-width: 568px) and (max-height: 567px){
    .navigationField_mob{display: none !important;}
    .navigationField_mob{padding-bottom: 0.5rem;}
}
.navigationButton_mob{
    width: 100%;
    max-width: 375px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.inStartLayout_mob, .inEndLayout_mob{
    -webkit-writing-mode: tb-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: tb-rl;
    -webkit-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
            transform:rotate(180deg);
}
.inStartLayout_mob, .inEndLayout_mob, .prevNumber_mob, .nextNumber_mob, .NOW_Number_mob{
    font-family: 'Maven Pro', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 11px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.prevNumber, .nextNumber, .prevNumber_mob, .nextNumber_mob{color: #ADADAD;}
@media (max-height: 600px){
    .navigationButton_mob{
        height: 70px;
    }
    .navigationField_mob{
        height: 70px;
    }

}