
.gradient-maz1{
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 9057px;
    
    background: linear-gradient(356.26deg, #000000 -0.8%, rgba(0, 0, 0, 0.97) 9.14%, rgba(0, 0, 0, 0.843778) 20.96%, rgba(0, 0, 0, 0) 73.78%);
    background: linear-gradient(356.26deg, #000000 -0.8%, rgba(0, 0, 0, 0.97) 9.14%, rgba(0, 0, 0, 0.843778) 20.96%, rgba(0, 0, 0, 0) 73.78%);
transform: matrix(1, 0, 0, -1, 0, 0);
}
.gradient-maz2{
    background: linear-gradient(10.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
    position: absolute;
width: 1920px;
height: 1080px;
left: 0px;
top: 9163px;

background: linear-gradient(6.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
mix-blend-mode: darken;
}
.gradient-maz3{
width: 1920px;
height: 1080px;
left: 0px;
top: 9136px;

background: linear-gradient(1.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
mix-blend-mode: darken;
}
.gradient-maz3{
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 9136px;
    
    background: linear-gradient(40.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
    mix-blend-mode: darken;
    }
.background-maz{
    height: 100%;
    width: 100vw;
 
    background-repeat: no-repeat;
    background-position: bottom 30% right 0%;
    background-size: cover;
    overflow: hidden;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-image: url(../img/maz.png);
}
.maz-bottle{
    position: absolute;
    width: 102px;
    height: 336px;
    left: 95px;
    top: 9401px;

}
.text-on-maz{
        position: absolute;
    width: 987.14px;
    height: 235px;
    left: 254.27px;
    top: 9428.27px;
    font-family: Maven Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 200px;
    line-height: 235px;
    color: #494949;
    transform: rotate(-0.03deg);
}
.text-maz{
    position: absolute;
    width: 850px;
    height: 160px;
    left: 889px;
    top: 9240px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    
    color: #FFFFFF;
}
.blackline-maz{
    background-color: black;
    height: 0px;
}
.maz-left-block{
    position: absolute;
    width: 625px;
    height: 443px;
    left: 212px;
    top: 9428px;

}
.maz-right-block{
    position: absolute;
    width: 608px;
    height: 382px;
    left: 1099px;
    top: 9489px;

}
.text-under-maz-block1{
    position: absolute;
    width: 400px;
    height: 40px;
    left: 213px;
    top: 10050px;

    font-family: Maven Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 34.0228px;
    line-height: 40px;
    /* identical to box height */


color: #FFFFFF;
}
.text-under-maz-block2{
    position: absolute;
    width: 400px;
    height: 40px;
    left: 1099px;
    top: 10050px;
    
    font-family: Maven Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 34.0228px;
    line-height: 40px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    
}
.blackline-maz-bot{
    height: 79px;
    background-color: black;
}
.pallets{
    height: 520px;
    background-color: black;
}
.left-pallet{
    position: absolute;
    width: 582.26px;
    height: 493px;
    left: 233px;
    top: 10182px;

}
.right-pallet{
    position: absolute;
    width: 582.26px;
    height: 493px;
    left: 1112px;
    top: 10182px;

}

@media(min-width: 1920px) {

}
@media(min-width: 1620px) and (max-width: 1919px) {

    .gradient-maz1{
        position: absolute;
        max-width: 1620px;
        height: 1080px;
        left: 0px;
        top: 8398px;
        
        background: linear-gradient(356.26deg, #000000 -0.8%, rgba(0, 0, 0, 0.97) 9.14%, rgba(0, 0, 0, 0.843778) 20.96%, rgba(0, 0, 0, 0) 73.78%);
        background: linear-gradient(356.26deg, #000000 -0.8%, rgba(0, 0, 0, 0.97) 9.14%, rgba(0, 0, 0, 0.843778) 20.96%, rgba(0, 0, 0, 0) 73.78%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    }
    .gradient-maz2{
        background: linear-gradient(10.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
        position: absolute;
    max-width: 1620px;
    height: 911px;
    left: 0px;
    top: 8421px;
    
    background: linear-gradient(6.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
    mix-blend-mode: darken;
    }
    .gradient-maz3{
    max-width: 1620px;
    height: 1080px;
    left: 0px;
    top: 9136px;
    
    background: linear-gradient(1.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
    mix-blend-mode: darken;
    }
    .gradient-maz3{
        position: absolute;
        max-width: 1620px;
        height: 1080px;
        left: 0px;
        top: 898px;
        
        background: linear-gradient(40.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
        mix-blend-mode: darken;
        }
    .background-maz{
        height: 100%;
        max-width: 1620px;
     
        background-repeat: no-repeat;
        background-position: bottom 30% right 0%;
        background-size: cover;
        overflow: hidden;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        background-image: url(../img/maz.png);
    }
    .maz-bottle{
        position: absolute;
        width: 102px;
        height: 336px;
        left: 95px;
        top: 8601px;
        background-image: url(../img/maz-bottle.svg);
    }
    .text-on-maz{
            position: absolute;
            width: 832.71px;
            height: 198.23px;
        left: 254.27px;
        top: 8628.27px;
        font-family: Maven Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 168.71px;
        line-height: 198px;
        /* identical to box height */
        
        
        color: #494949;
        
        transform: rotate(-0.03deg);
        
        
        color: #494949;
        
        transform: rotate(-0.03deg);
    }
    .text-maz{
        position: absolute;
        width: 790px;
        height: 145px;
        left: 707px;
        top: 8440px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        
        color: #FFFFFF;
    }
    .blackline-maz{
        background-color: black;
        height: 200px;
    }
    .maz-left-block{
        position: absolute;
        width: 625px;
        height: 443px;
        left: 212px;
        top: 8628px;        
    }
    .maz-left-block img{
        width: 90%;
        height: 90%;
    }
    .maz-right-block{
        position: absolute;
        width: 608px;
        height: 382px;
        left: 969px;
        top: 8689px;
    }
    .maz-right-block img{
        width: 90%;
        height: 90%;

    }
    .text-under-maz-block1{
        position: absolute;
        width: 400px;
        height: 40px;
        left: 213px;
        top: 9170px;
    
        font-family: Maven Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 34.0228px;
        line-height: 40px;
        /* identical to box height */
    
    
    color: #FFFFFF;
    }
    .text-under-maz-block2{
        position: absolute;
        width: 400px;
        height: 40px;
        left: 969px;
        top: 9170px;
        
        font-family: Maven Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 34.0228px;
        line-height: 40px;
        /* identical to box height */
        
        
        color: #FFFFFF;
        
    }
    .blackline-maz-bot{
        height: 79px;
        background-color: black;
    }
    .pallets{
        height: 520px;
        background-color: black;
    }
    .left-pallet{
        position: absolute;
        width: 582.26px;
        height: 493px;
        left: 213px;
        top: 9282px;
        background: url(../img/left-pallet.png);
    }
    .right-pallet{
        position: absolute;
        width: 582.26px;
        height: 493px;
        left: 969px;
        top: 9282px;
        background: url(../img/right-pallet.png);
    }
    
}
@media(min-width: 1199px) and (max-width: 1619px) {

    .gradient-maz1{
        position: absolute;
        max-width: 1200px;
        height: 675px;
        left: 0px;
        top: 5740px;
        
        background: linear-gradient(356.26deg, #000000 -0.8%, rgba(0, 0, 0, 0.97) 9.14%, rgba(0, 0, 0, 0.843778) 20.96%, rgba(0, 0, 0, 0) 73.78%);
        background: linear-gradient(356.26deg, #000000 -0.8%, rgba(0, 0, 0, 0.97) 9.14%, rgba(0, 0, 0, 0.843778) 20.96%, rgba(0, 0, 0, 0) 73.78%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    }
    .gradient-maz2{
        background: linear-gradient(10.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
        position: absolute;
        max-width: 1200px;
        height: 675px;
    left: 0px;
    top: 5742px;
    
    background: linear-gradient(6.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
    mix-blend-mode: darken;
    }
    .gradient-maz3{
        max-width: 1200px;
        height: 675px;
    left: 0px;
    top: 5740px;
    
    background: linear-gradient(1.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
    mix-blend-mode: darken;
    }
    .gradient-maz3{
        position: absolute;
        max-width: 1200px;
        height: 675px;
        left: 0px;
        top: 5740px;
        
        background: linear-gradient(40.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
        mix-blend-mode: darken;
        }
    .background-maz{
        height: 100%;
        max-width: 1200px;
     
        background-repeat: no-repeat;
        background-position: bottom 30% right 0%;
        background-size: cover;
        overflow: hidden;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        background-image: url(../img/maz.png);
    }
    .maz-bottle{
        position: absolute;
        width: 102px;
        height: 336px;
        left: 60px;
        top: 5921px;

    }
    .maz-bottle img{
        width: 63.77px;
        height: 210.06px;
    }
    .text-on-maz{
            position: absolute;
            width: 832.71px;
            height: 198.23px;
        left: 150.27px;
        top: 5960.27px;
        font-family: Maven Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 125.035px;
        line-height: 147px;
        /* identical to box height */
        
        
        color: #494949;
        
        transform: rotate(-0.03deg);
        
        
        color: #494949;
        
        transform: rotate(-0.03deg);
    }
    .text-maz{
        position: absolute;
        width: 525.39px;
        height: 100.03px;
        left: 500px;
        top: 5800px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        
        color: #FFFFFF;
    }
    .blackline-maz{
        background-color: black;
        height: 200px;
    }
    .maz-left-block{
        position: absolute;
        width: 625px;
        height: 443px;
        left: 130px;
        top: 5938px;        
    }
    .maz-left-block img{
        width: 70%;
        height: 70%;
    }
    .maz-right-block{
        position: absolute;
        width: 608px;
        height: 382px;
        left: 680px;
        top: 5978px;
    }
    .maz-right-block img{
        width: 70%;
        height: 70%;

    }
    .text-under-maz-block1{
        position: absolute;
        width: 400px;
        height: 40px;
        left: 133px;
        top: 6320px;
    
        font-family: Maven Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        /* identical to box height */
    
    
    color: #FFFFFF;
    }
    .text-under-maz-block2{
        position: absolute;
        width: 400px;
        height: 40px;
        left: 679px;
        top: 6320px;
        
        font-family: Maven Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 23px;
        /* identical to box height */
        
        
        color: #FFFFFF;
        
    }
    .blackline-maz-bot{
        height: 79px;
        background-color: black;
    }
    .pallets{
        height: 520px;
        background-color: black;
    }
    .left-pallet{
        position: absolute;
        left: 113px;
        top: 6402px;

    }
    .right-pallet{
        position: absolute;
        left: 679px;
        top: 6402px;

    }

    .left-pallet img{
        width: 70%;
        height: 70%;
    }
    .right-pallet img{
        width: 70%;
        height: 70%;
    }
}
@media(min-width: 767px) and (max-width: 1199px) {

    .gradient-maz1{
        position: absolute;
        width: 768px;
        height: 432px;
        left: 0px;
        top: 5612px;
        
        background: linear-gradient(356.26deg, #000000 -0.8%, rgba(0, 0, 0, 0.97) 9.14%, rgba(0, 0, 0, 0.843778) 20.96%, rgba(0, 0, 0, 0) 73.78%);
        background: linear-gradient(365.26deg, #000000 -0.8%, rgba(0, 0, 0, 0.97) 9.14%, rgba(0, 0, 0, 0.843778) 20.96%, rgba(0, 0, 0, 0) 73.78%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    }
    .gradient-maz2{
        background: linear-gradient(10.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
        position: absolute;
        width: 768px;
        height: 432px;
    left: 0px;
    top: 5615px;
    
    background: linear-gradient(6.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
    mix-blend-mode: darken;
    }
    .gradient-maz3{
        width: 768px;
        height: 432px;
    left: 0px;
    top: 5612px;
    background: linear-gradient(1.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
    mix-blend-mode: darken;
    }
    .gradient-maz3{
        position: absolute;
        width: 768px;
        height: 432px;
        left: 0px;
        top: 5612px;
        
        background: linear-gradient(40.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
        mix-blend-mode: darken;
        }
    .background-maz{
        height: 434px;
        width: 768px;
        left: 0px;
        top: 0px;
        border-radius: 0px;
        

    
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;

        background-image: url(../img/maz.png);
    }
    .maz-bottle{
        position: absolute;
        width: 102px;
        height: 336px;
        left: 60px;
        top: 5721px;

    }
    .maz-bottle img{
        width: 40.8px;
        height: 134.4px;
    }
    .text-on-maz{
            position: absolute;
            width: 832.71px;
            height: 198.23px;
        left: 110.27px;
        top: 5740.27px;
        font-family: Maven Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 80px;
        line-height: 94px;
        /* identical to box height */
        
        
        color: #494949;
        
        transform: rotate(-0.03deg);
        
        
        color: #494949;
        
        transform: rotate(-0.03deg);
    }
    .text-maz{
        position: absolute;
        width: 479px;
        height: 85px;
        left: 250px;
        top: 5600px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        
        color: #FFFFFF;
    }
    .blackline-maz{
        background-color: black;
        height: 200px;
    }
    .maz-left-block{
        position: absolute;
        width: 625px;
        height: 443px;
        left: 70px;
        top: 5758px;        
    }
    .maz-left-block img{
        width: 50%;
        height: 50%;
    }
    .maz-right-block{
        position: absolute;
        width: 608px;
        height: 382px;
        left: 440px;
        top: 5788px;
    }
    .maz-right-block img{
        width: 50%;
        height: 50%;

    }
    .text-under-maz-block1{
        position: absolute;
        width: 400px;
        height: 40px;
        left: 133px;
        top: 6050px;
    
        font-family: Maven Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        /* identical to box height */
    
    
    color: #FFFFFF;
    }
    .text-under-maz-block2{
        position: absolute;
        width: 400px;
        height: 40px;
        left: 499px;
        top: 6050px;
        
        font-family: Maven Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        /* identical to box height */
        
        
        color: #FFFFFF;
        
    }
    .blackline-maz-bot{
        height: 79px;
        background-color: black;
    }
    .pallets{
        height: 220px;
        background-color: black;
    }
    .left-pallet{
        position: absolute;
        left: 70px;
        top: 6102px;

    }
    .right-pallet{
        position: absolute;
        left: 439px;
        top: 6102px;

    }

    .left-pallet img{
        width: 270.35px;
        height: 228.06px;
    }
    .right-pallet img{
        width: 270.35px;
        height: 228.06px;
    }
}
@media(min-width: 375px) and (max-width: 767px) {

    .gradient-maz1{
        position: absolute;
        width: 375px;
        height: 755px;
        left: 0px;
        top: 5671px;
        
        background: linear-gradient(356.26deg, #000000 -0.8%, rgba(0, 0, 0, 0.97) 9.14%, rgba(0, 0, 0, 0.843778) 20.96%, rgba(0, 0, 0, 0) 73.78%);
        background: linear-gradient(365.26deg, #000000 -0.8%, rgba(0, 0, 0, 0.97) 9.14%, rgba(0, 0, 0, 0.843778) 20.96%, rgba(0, 0, 0, 0) 73.78%);
    transform: matrix(1, 0, 0, -1, 0, 0);
    }
    .gradient-maz2{
        background: linear-gradient(10.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
        position: absolute;
        width: 375px;
        height: 355px;
    left: 0px;
    top: 5830px;
    
    background: linear-gradient(6.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
    mix-blend-mode: darken;
    }
    .gradient-maz3{
        width: 375px;
        height: 355px;
    left: 0px;
    top: 5671px;
    background: linear-gradient(1.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
    mix-blend-mode: darken;
    }
    .gradient-maz3{
        position: absolute;
        width: 375px;
        height: 355px;
        left: 0px;
        top: 5940px;
        
        background: linear-gradient(40.97deg, #000000 9.82%, rgba(0, 0, 0, 0.760539) 20.01%, rgba(0, 0, 0, 0) 31.61%);
        mix-blend-mode: darken;
        }
    .background-maz{
        height: 434px;
        width: 375px;
        left: 0px;
        top: 0px;
        border-radius: 0px;
        
        background-position-x: -430px;
    
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;

        background-image: url(../img/maz.png);
    }
    .maz-bottle{
        position: absolute;
        width: 102px;
        height: 336px;
        left: 60px;
        top: 5721px;

    }
    .maz-bottle img{
        width: 0px;
        height: 134.4px;
    }
    .text-on-maz{
            position: absolute;
            width: 832.71px;
            height: 198.23px;
        left: -170.27px;
        top: 5875.27px;
        font-family: Maven Pro;
        font-style: normal;
        font-weight: bold;
        font-size: 70px;
        line-height: 94px;
        /* identical to box height */
        overflow: hidden;
        
        
        color: #494949;
        
        transform: rotate(-0.03deg);
        
        
        color: #494949;
        
        transform: rotate(-0.03deg);
    }
    .text-maz{
        position: absolute;
        width: 302px;
        height: 136px;
        left: 28px;
        top: 5680px;
        
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        
        color: #FFFFFF;
    }
    .blackline-maz{
        background-color: black;
        height: 200px;
    }
    .maz-left-block{
        position: absolute;
        width: 625px;
        height: 443px;
        left: 30px;
        top: 5858px;        
    }
    .maz-left-block img{
        width: 286px;
        height: 193px;
    }
    .maz-right-block{
        position: absolute;
        width: 608px;
        height: 382px;
        left: 40px;
        top: 6448px;   
    }
    .maz-right-block img{
        width: 288.31px;
        height: 194.69px;

    }
    .text-under-maz-block1{
        position: absolute;
        width: 400px;
        height: 40px;
        left: 30px;
        top: 6090px;
    
        font-family: Maven Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
        /* identical to box height */
    
    
    color: #FFFFFF;
    }
    .text-under-maz-block2{
        position: absolute;
        width: 400px;
        height: 40px;
        left: 30px;
        top: 6690px;
        
        font-family: Maven Pro;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        /* identical to box height */
        
        
        color: #FFFFFF;
        
    }
    .blackline-maz-bot{
        height: 79px;
        background-color: black;
    }
    .pallets{
        height: 220px;
        background-color: black;
    }
    .left-pallet{
        position: absolute;
        left: 70px;
        top: 6152px;

    }
    .right-pallet{
        position: absolute;
        left: 70px;
        top: 6752px;

    }

    .left-pallet img{
        width: 270.35px;
        height: 228.06px;
    }
    .right-pallet img{
        width: 270.35px;
        height: 228.06px;
    }
}
