  .wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
  }
  .wrapper .page {
    position: relative;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    will-change: transform;
    
  }
  .body{
    overflow: hidden;
    background-color: black;
  }
  @media(min-width: 1920px) {
  }
  @media(min-width: 1620px) and (max-width: 1919px) {
    .wrapper .page {

      max-width: 1919px;

    }
  }
  @media(min-width: 300px) and (max-width: 767px) {
    .body{
      overflow: hidden;
      background-color: black;
    }
  }